.genres-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.genre-links {
  color: white;
  background-color: #7A5177;
  padding: 5px;
  box-shadow: 5px;
}

.genre-links:hover {
  cursor: pointer;
  background-color: #F3DAA0;
  color: black;
}