.books-container {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 70%;
  padding: 2% 5% 2% 5%;
  background-color: #F3DAA0;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .books-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}