.book-card {
  width: 235px;
  background-color: #FF6663;
  color: white;
}

.book-image {
  width: 235px;
  display: block
}

.description-box {
  padding: 10px;
}

.title {
  font-weight: bolder;
}

.author {
  font-style: italic;
}