.book-card {
  width: 233px;
  background-color: #FF6663;
  color: white;
}

.book-image {
  width: 239px;
  height: 317px;
  object-fit: fill;
}

.book-image-container {
  width: 233px;
  height: 317px;
}