main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  background-color: aquamarine;
  padding: 1rem;
  position: fixed;
  height: 100%;
}

.top-books-container {
  margin-left: 35vh;
}
