nav {
  background-color: #422040;
  color: white;
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 18px; 
}


h1 {
  color: white;
  text-decoration: none;
  font-size: 35px;
  margin: 20px 0px;
}

.book-icon {
  height: 40px;
  width: auto;
  filter: brightness(0) invert(1);
}


html {
  height: 100vh;
  width: 100vw;
}

.loading-icon {
  height: 100vh;
  width: 70vw;
  filter: brightness(5) invert(5);
}

@media (max-width: 768px) {
  nav {
    height: 10%;
    width: 100%;
    z-index: 1;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .books-container {
    width: 100%;
  }

  .genres-container {
    display: none;
  }
}